{% extends "base.html" %}

{% block title %}
HOME
{% endblock title %}

{% block content %}

 {% if filter %}
  <form action='' method="get">
      <h3>  Filter by date</h3>
    {{ filter.form.as_table }}
    <button type="submit">Search</button>
  </form>
    {% endif %}



        {% for post in post_list %}
                <h3><a href='{{ post.get_absolute_url }}'>{{ post.title}}</a></h3>
                <h3>{{ post.date_created }}</h3>

                    {% if post.image %}
                        <img src='{{ post.image.url }}' class='img-responsive' width="400px" height="400px" >
                    {% endif %}
                <p>{{ post.content|linebreaks|truncatechars:50 }}</p>

                        {% with tags=post.tags.slugs %}
                        {% if tags.count > 0 %}
                <p>Tags:
                {% for tag in tags %}
                    {% if not forloop.first %} {% endif %}
                    <a href=" {% url 'post:post_by_tags' tag %}  ">{{ tag }}</a>
                {% endfor %}
                    </p>
                     {% endif %}
                        {% endwith %}

                <p>author: {{ post.user }} </p>
                <p><a href="{{ post.get_absolute_url }}" class="btn btn-primary" role="button">View</a></p>
                <hr>

            {% empty %}
            <h3>No posts found</h3>
        {% endfor %}


<!--{% if is_paginated %}-->
  <!--<ul class="pagination">-->
    <!--{% if page_obj.has_previous %}-->
      <!--<li><a href="?page={{ page_obj.previous_page_number }}">&laquo;</a></li>-->
    <!--{% else %}-->
      <!--<li class="disabled"><span>&laquo;</span></li>-->
    <!--{% endif %}-->
    <!--{% for i in paginator.page_range %}-->
      <!--{% if page_obj.number == i %}-->
        <!--<li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>-->
      <!--{% else %}-->
        <!--<li><a href="?page={{ i }}">{{ i }}</a></li>-->
      <!--{% endif %}-->
    <!--{% endfor %}-->
    <!--{% if page_obj.has_next %}-->
      <!--<li><a href="?page={{ page_obj.next_page_number }}">&raquo;</a></li>-->
    <!--{% else %}-->
      <!--<li class="disabled"><span>&raquo;</span></li>-->
    <!--{% endif %}-->
  <!--</ul>-->
<!--{% endif %}-->


{% if is_paginated %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{{ page_request_var }}={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?{{ page_request_var }}={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

{% endif %}
{% endblock content %}